<!DOCTYPE html>
<html>
<head>
  
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/foundation.min.css"> -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<link rel="stylesheet" href="/css/styles.css">

		

</head>
  <body class="container">
		<h1>Crypto Lister</h1>

       
                <ul class="login">
                    <li><a href="/auth/logout">Logout</a></li>
                    <li><a href="/auth/login">Login</a></li>
                </ul>
	
		

		<div class = "row">
			<div class="jumbotron col-xs-offset-2 col-xs-8">
				<p>
					This site lists the top 50 cryptocurrencies by marketcap 
					and allows the user to choose his favorites that will be shown
					at the top.
				</p>
			</div>
		</div>

	<div id = "app">
		
		<table class="table striped">
			<thead>
				<tr>
					<td>Rank</td>
					<td>Name</td>
					<td>Symbol</td>
					<td>Price</td>				
					<td>1D</td>
					<td>Market Cap (USD)</td>
			</thead>
			<tbody>
				<tr v-cloak v-for = "(coinData, index) in coinsData">
					<td class="rank"> {{ index+1 }} </td>
					<td><img v-bind:src="getCoinImage(index)" height="30" width="30">  {{coinData.CoinInfo.FullName}} </td>
					<td> {{coinData.CoinInfo.Name}} </td>
					<td> {{coinData.RAW.USD.PRICE | toCurrency}} </td>
					
					<td v-bind:style="getColor(coinData.RAW.USD.CHANGEPCT24HOUR)">
							<span v-if="coinData.RAW.USD.CHANGEPCT24HOUR > 0">+</span>{{ coinData.RAW.USD.CHANGEPCT24HOUR | round(2) }}%
					</td>
					<td> {{coinData.RAW.USD.MKTCAP | toCurrency}} </td>


				</tr>
				
				
			</tbody>
			
		</table>
		
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>
    
  
		</body>
</html>
