.login {
	text-align: right;
	margin-right: 1em;
}

h1 {
	text-align: center;
	margin-top: 2em;
}

td {
	text-align: left;
	border-radius: 2px;
	border-left-color: black;
}

.rank {
	text-align: center;
}

.jumbotron p {
	font-size: 1.2em;
	text-align: center;
}

.jumbotron {
	margin-top: 2.4em;
	margin-bottom: 2em;
}

body {
	margin-right: auto;
	margin-left:  auto;
	max-width: 1200px;
	padding-right: 10px;
	padding-left:  10px;
	
  }

  .header, .footer, .content {
	position: absolute;
	width: 100%;
}

.header, .footer { height: 50px; }


main{
    text-align: center;
    margin-right: 2em;
}

nav{
    background: white;
    padding: 20px 10px;
}

 li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
 a {
    color: white;
    font-size: 14px;
    background: #ff5353;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-radius: 4px;
}
