.login {
	text-align: center;
	margin-right: 1em;
}

h1 {
	text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.jumbotron {
	margin-top: 2em;
	margin-bottom: 2em;
}

body {
	margin-right: auto;
	margin-left:  auto;
	max-width: 1200px;
	padding-right: 10px;
	padding-left:  10px;
  }

.content {
	top: 50px;
	bottom: 50px;
}

/*LOGIN PAGE*/

main{
    text-align: center;
    margin-right: 2em;
}

nav{
    background: white;
    padding: 20px 10px;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a {
    color: white;
    font-size: 14px;
    background: #ff5353;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-radius: 4px;
}
